//Color
$alpha: #d5e2ff;
$light: #fff;
$text: #121c25;
$text-light: #61686d;
$text-lighter: #7b7b7b;
$btn-color: #4378f8;
$light-bg: #f4f4f4;

//Font
$body-text: "Roboto", sans-serif;
$btn-text: "Source Sans Pro", sans-serif;
